block vars

doctype html
html(lang=lang itemscope itemtype="https://schema.org/WebPage" class="no-js")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(name="format-detection" content="telephone=no")
    meta(name="referrer" content="no-referrer-when-downgrade")
    meta(name="author" content="Shvichi Degvchi")
    meta(name="robots" content="noindex")
    meta(name="googlebot" content="noindex")

    title #{title}
    meta(property="og:title" content=title)

    script(type="module")
      | document.documentElement.classList.remove('no-js');
      | document.documentElement.classList.add('js');

    link(rel="dns-prefetch" href="")
    link(rel="preconnect" href="")

    link(rel="prefetch" href="/common/js/bundle.min.js")
    link(rel="preload" as="script" href="/common/js/bundle.min.js" crossorigin)

    block meta

    style.
      [v-cloak] { display: none; }
    meta(name="description" content=description)
    meta(property="og:description" content=description)

    meta(property="og:image" content=ogpimage)
    meta(property="og:image:alt" content=title)

    meta(property="og:locale" content=lang)
    meta(property="og:type" content=type)
    meta(name="twitter:dnt" content="on")
    meta(name="twitter:card" content="summary_large_image")

    meta(property="og:url" content=url)
    link(rel="canonical" href=url)

    meta(name="theme-color" content="#f7a419" media="(prefers-color-scheme: light)")
    meta(name="theme-color" content="#ee4e22" media="(prefers-color-scheme: dark)")
    script.
      (function(d) {
        var config = {
            kitId: 'sbh0jia',
            scriptTimeout: 3000,
            async: true
          },
          h = d.documentElement,
          t = setTimeout(function() {
            h.className = h.className.replace(/\bwf-loading\b/g, '') + ' wf-inactive';
          }, config.scriptTimeout),
          tk = d.createElement('script'),
          f = false,
          s = d.getElementsByTagName('script')[0],
          a;
        h.className += ' wf-loading';
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != 'complete' && a != 'loaded') return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
      })(document);

    block metameta

  body(role="document")
    div(id="app" class="app--root-instance")
      app(v-cloak)
        block main

        template(#create-memo)
          create-memo
            template(#heading) Add a new memo
            template(#button) Create

    script(src="/common/js/bundle.min.js" async type="module" crossorigin)
